@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}
@media screen and (min-width: 855px) {
  .popup {
    transform: translate(-43%, -50%);
    width: 500px;
    height: 500px;
  }
  .popup h3 {
    font-size: 36px;
  }
  .popup p {
    margin: 20px 0;
  }
}
@media screen and (max-width: 850px) {
  .contenedor {
    display: block;
  }
  .contenedor-items {
    width: 100% !important;
  }
  .popup {
    transform: translate(-29%, -50%);
    width: 500px;
    height: 500px;
  }
}
@media screen and (max-width: 500px) {
  .popup {
    transform: translate(-14%, -50%);
    width: 300px;
    height: 350px;
  }
  .popup h3 {
    font-size: 29px;
  }
}
@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0.25;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
  background: url(../img/fondo-moderno-lineas.jpg);
  background-size: cover;
  background-position: center;
  height: 250px;
}
header h1 {
  text-align: center;
  font-size: 35px;
  color: white;
  padding: 30px 0;
}
header h3 {
  text-align: center;
  font-size: 15px;
  color: white;
  padding: 10px 0;
}
header p {
  text-align: center;
  font-size: 15px;
  color: white;
  padding: 10px 0;
}

.main-container {
  padding: 30px;
}

.heading {
  text-align: center;
}

.heading__title {
  font-weight: 500;
}

.heading__link {
  text-decoration: none;
}

.heading__credits .heading__link {
  color: inherit;
}

/* CARDS */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 200px;
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  text-align: center;
}
.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card__link, .card__exit, .card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  font-size: 19px;
}

.card__link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}
.card__link:hover::after {
  width: 100%;
}

.card__exit {
  grid-row: 1/2;
  justify-self: end;
}

.card__icon {
  grid-row: 2/3;
  font-size: 30px;
}

.card__title {
  grid-row: 3/4;
  font-weight: 400;
  color: #000000;
}

.card__apply {
  grid-row: 4/5;
  align-self: center;
}

.card-1 {
  background: radial-gradient(#1fe4f5, #3fbafe);
}

.card-2 {
  background: radial-gradient(#fbc1cc, #fa99b2);
}

.card-3 {
  background: radial-gradient(#76b2fe, #b69efe);
}

.card-4 {
  background: radial-gradient(#60efbc, #58d5c9);
}

.card-5 {
  background: radial-gradient(#f588d8, #c0a3e5);
}

h2 {
  text-align: center;
  font-size: 25px;
  color: black;
  padding: 30px 0;
}

.popup-btn {
  display: flex;
  justify-items: center;
  padding: 30px 40px;
  background: #4f2eae;
  border: none;
  color: white;
  border-radius: 6px;
  box-shadow: 0 0 10px black;
  cursor: pointer;
  font-weight: 600;
}

.contenido-popup {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  Padding: 40px 0px;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
}
.contenido-popup .mensaje-popup {
  width: 299px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  padding: 20px;
  transform: scale(0);
}
.contenido-popup .mensaje-popup p {
  margin: 12px 0 20px;
}
.contenido-popup .mensaje-popup .cerrar-popup {
  width: 100%;
  height: 35px;
  background-color: #76b2fe;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  color: white;
  font-weight: 300;
}

.active {
  opacity: 1;
  pointer-events: auto;
  transition: 0.4s ease;
}
.active .mensaje-popup {
  transform: scale(1);
  transition: 0.4s ease;
  transition-delay: 0.25s;
}

.contenedor {
  max-width: 1200px;
  padding: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.contenedor .contenedor-items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr) minmax(150px, 1fr));
  grid-gap: 30px;
  grid-row-gap: 30px;
  width: 100%;
  transition: 0.3s;
}
.contenedor .contenedor-items .item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 200px;
  margin: auto;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 20px;
  transition: 0.3s;
}
.contenedor .contenedor-items .item:hover {
  box-shadow: 0 0 10px grey;
  scale: 1.03;
}
.contenedor .contenedor-items .item .img-item {
  width: 100%;
  transition: 0.3s;
}
.contenedor .contenedor-items .item .img-item:hover {
  box-shadow: 0 0 20px black;
  scale: 1.5;
  padding: 0 auto;
  margin: 0 auto;
  border-radius: 5px;
}
.contenedor .contenedor-items .item .titulo-item {
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

.float-button {
  position: fixed;
  animation: slide-in 4000ms;
  animation-iteration-count: 1;
  transform: translate(108px, 0px);
  bottom: 20%;
  right: 0;
  width: 175px;
  padding-left: 4px;
  overflow: hidden;
  background-color: #25d366;
  color: #fff;
  border-radius: 40px 0 0 40px;
  z-index: 10;
  transition: all 0.5s ease-in-out;
  vertical-align: middle;
}
.float-button:hover {
  transform: translate(0px, 0px);
}
.float-button span {
  color: white;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
  position: absolute;
  line-height: 15px;
  font-weight: bolder;
}
.float-button i {
  font-size: 60px;
  color: white;
  line-height: 45px;
  padding: 10px;
  transform: rotate(0deg);
  transition: all 0.5s ease-in-out;
  text-align: center;
}

footer {
  background: url(../img/lente-header.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  padding-top: 30px;
}
footer h2 {
  color: white;
  font-size: 30px;
}
footer section#reviews {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
footer section#reviews h2.reviews-clientes {
  letter-spacing: 10px;
  margin: 30px 0px;
  padding: 10px 20px;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
footer section#reviews div.tarjeta-review {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
footer section#reviews div.tarjeta-review div.review-1 {
  width: 500px;
  box-shadow: 2px 2px 30px black;
  background-color: white;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
  transition: transform 0.5s;
}
footer section#reviews div.tarjeta-review div.review-1:hover {
  transform: scale(1.1);
}
footer section#reviews div.tarjeta-review div.review-1 .caja1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
footer section#reviews div.tarjeta-review div.review-1 .caja1 .perfil {
  display: flex;
  align-items: center;
}
footer section#reviews div.tarjeta-review div.review-1 .caja1 .perfil .imagen-perfil {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
footer section#reviews div.tarjeta-review div.review-1 .caja1 .perfil .imagen-perfil img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
footer section#reviews div.tarjeta-review div.review-1 .caja1 .perfil div.nombre {
  display: flex;
  flex-direction: column;
}
footer section#reviews div.tarjeta-review div.review-1 .caja1 div.estrellitas i {
  font-size: 1.5rem;
  color: gold;
}
footer section#reviews div.tarjeta-review div.review-1 div.comentario p {
  font-size: 1rem;
  color: grey;
}/*# sourceMappingURL=style.css.map */